@import 'tailwindcss';
@plugin 'daisyui' {
	themes: all;
}

@plugin "./catppuccinTheme.latte.ts";
@plugin "./catppuccinTheme.frappe.ts";
@plugin "./catppuccinTheme.macchiato.ts";
@plugin "./catppuccinTheme.mocha.ts";

html,
body {
	@apply h-full w-full overflow-hidden bg-base-200;
	padding: 0;
	padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0)
		env(safe-area-inset-left, 0);
	user-select: none;
}

::view-transition-old(theme) {
	animation-delay: 500ms;
}

::view-transition-new(theme) {
	animation: circle-in 500ms;
}

@keyframes circle-in {
	from {
		clip-path: circle(0% at 50% 0%);
	}
	to {
		clip-path: circle(120% at 50% 0%);
	}
}
